<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content" class="div">
        <h1>Hola, this is the dashboard</h1>
    <h1>If I guess correctly ... Isn't your name, <span data-th-text="${loggedInUser.firstName}">[First Name]</span>?</h1>
    </div>
</body>
<script>
    console.log("dashboard page");
</script>
</html>
